@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .prof_pic {
        width: 120px;
    }
    .progress-circle {
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .prof_pic {
        width: 100px;
    }
    .progress-circle {
        width: 60px;
        height: 60px;
    }
}
